<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Danh sách các tòa nhà
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <!-- <ion-label>Tường Vi</ion-label> -->
      <ion-card routerLink="/tuongvi">
        <img alt="Silhouette of mountains" src="https://65nam.hcmuaf.edu.vn/data/image/NongLamNay/GiangDuong/TuongVy%20-%20Photo_%20Thi%C3%AAn%20H%C3%A0o.jpg" />
        <ion-card-header>
          <ion-card-title>Tường Vi</ion-card-title>
          <ion-card-subtitle>Tòa nhà Tường Vi</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>
    </ion-item>
    <ion-item>
      <!-- <ion-label>Cát Tường</ion-label> -->
      <ion-card routerLink="/cattuong">
        <img alt="Silhouette of mountains" src="https://65nam.hcmuaf.edu.vn/data/image/NongLamNay/GiangDuong/CatTuong%20-%20Photo_%20Thi%C3%AAn%20H%C3%A0o.jpg" />
        <ion-card-header>
          <ion-card-title>Cát Tường</ion-card-title>
          <ion-card-subtitle>Tòa nhà Cát Tường</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>
    </ion-item>
    <ion-item>
      <!-- <ion-label>Hướng Dương</ion-label> -->
      <ion-card routerLink="/huongduong">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
        <ion-card-header>
          <ion-card-title>Hướng Dương</ion-card-title>
          <ion-card-subtitle>Tòa nhà Hướng Dương</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>
    </ion-item>
    <ion-item>
      <!-- <ion-label>Phượng Vĩ</ion-label> -->
      <ion-card routerLink="/phuongvi">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
        <ion-card-header>
          <ion-card-title>Phượng Vĩ</ion-card-title>
          <ion-card-subtitle>Tòa nhà Phượng Vĩ</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
