<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bản đồ
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar placeholder="Tìm kiếm địa điểm" (ionInput)="onSearch($event)" debounce="500"></ion-searchbar>
  </ion-toolbar>
  <ion-list *ngIf="searchResults.length > 0">
    <ion-item *ngFor="let result of searchResults" (click)="selectSearchResult(result)">
      {{ result.display_name }}
    </ion-item>
  </ion-list>
</ion-header>

<ion-content>
  
  <div id="map" style="height: 100%; width: 100%;"></div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="getCurrentPosition()">
      <ion-icon name="locate"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
