<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bản đồ
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="block" (click)="getCurrentPosition()">Lấy vị trí hiện tại</ion-button>
  <div *ngIf="latitude && longitude">
    <p>Latitude: {{ latitude }}</p>
    <p>Longitude: {{ longitude }}</p>
  </div>
  <div *ngIf="error">
    <p style="color: red;">{{ error }}</p>
  </div>
  <div id="map" style="height: 70%; width: 100%;"></div>
</ion-content>
